@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');

*{
    padding: 0.75%;
    margin: 0.75%;
    box-sizing: border-box;
}

h1{
font-family: 'Roboto Condensed', sans-serif;
}
h2{
font-family: 'Roboto Condensed', sans-serif;
font-size: 40px !important;
}
h3{
font-family: 'Roboto Condensed', sans-serif;
}
p{
    font-family: 'Roboto', sans-serif;
}